@page "/"
@using Microsoft.AspNetCore.Blazor.Browser.Interop;
@using Models;

<label class="btn btn-default btn-file navbar-btn" id="import-button">Import<input type="file" style="display: none;"></label>

<button class="btn btn-default" @onclick(Export)>Export</button>

<h2>Add new task</h2>

<div class="row">
    <div class="col-lg-12">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control input-lg" id="taskTextArea" placeholder="Take over the world" @bind(CurrentInput)>
            <span class="input-group-btn">
                <button @onclick(ClearInput) class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <button @onclick(AddItem) class="btn btn-primary">@InputButtonText</button>
            </span>
        </div>
    </div>
</div>

@if (TodoItems.Any(x => !x.Completed))
{
    <h1>Your tasks</h1>

    @foreach (var itemsForProject in TodoItems.Where(x => !x.Completed).OrderBy(x => x.Creation).GroupBy(x => x.Project.FirstOrDefault()))
    {
        @if (!string.IsNullOrWhiteSpace(itemsForProject.Key))
        {
            <h2>@itemsForProject.Key</h2>
        }
        <div class="list-group">
            @foreach (var item in itemsForProject)
            {
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">@item.Body</h4>
                    <p class="list-group-item-text">
                        @item.Creation?.ToString("yyyy-MM-dd")
                        @if (item.Context != null && item.Context.Count > 0)
                        {
                            foreach (var context in item.Context)
                            {
                                <span class="label label-default">@context</span>
                            }
                        }
                    </p>
                    <button class="btn btn-success" @onclick(() => { Complete(item); })><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                    <button class="btn btn-default" @onclick(() => { Edit(item); })><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                    <button class="btn btn-danger" @onclick(() => { Delete(item); })><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                </div>
            }
        </div>
    }
}

@if (TodoItems.Any(x => x.Completed))
{
    <h1>Completed tasks</h1>

    <div class="list-group">
        @foreach (var item in TodoItems.Where(x => x.Completed).OrderBy(x => x.Completion))
        {

            <div class="list-group-item">
                <h4 class="list-group-item-heading">@item.Body</h4>
                <p class="list-group-item-text">
                    @item.Creation?.ToString("yyyy-MM-dd")
                    @if (item.Context != null && item.Context.Count > 0)
                    {
                        foreach (var context in item.Context)
                        {
                            <span class="label label-default">@context</span>
                        }
                    }
                </p>
                <button class="btn btn-default" @onclick(() => { Edit(item); })><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                <button class="btn btn-danger" @onclick(() => { Delete(item); })><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
            </div>

        }
    </div>
}

<script type="text/javascript" src="js/filesaver-1.3.2.min.js"></script>
<script>
    Blazor.registerFunction('getFromLocal', (key) => {
        return localStorage[key];
    });

    Blazor.registerFunction('storeInLocal', (key, data) => {
        localStorage[key] = data;
        return true;
    });

    Blazor.registerFunction('saveToFile', (content) => {
        var file = new File(content, 'do-' + new Date().toISOString() + '.txt', {
            type: "text/plain;charset=utf-8"
        });
        saveAs(file);
        return true;
    });
</script>

@functions {
    private List<TaskItem> _todoItems;

    public List<TaskItem> TodoItems
    {
        get
        {
            if (_todoItems == null)
            {
                _todoItems = new List<TaskItem>();
            }
            return _todoItems;
        }
        private set
        {
            _todoItems = value;
        }
    }

    public string CurrentInput { get; set; } = null;

    public TaskItem CurrentItem { get; set; } = null;

    public string InputButtonText { get; private set; } = "Save";

    private const string TODO_KEY = "do";

    protected override async Task OnInitAsync()
    {
        new Task(() => {
            TodoItems = GetTasksFromLocalStorage();
        }).Start();
    }

    private void SaveItemsInLocalStorage()
    {
        var s = JsonUtil.Serialize(TodoItems);
        RegisteredFunction.Invoke<bool>("storeInLocal", new object[] { TODO_KEY, s });
    }

    private List<TaskItem> GetTasksFromLocalStorage()
    {
        var r = RegisteredFunction.Invoke<object>("getFromLocal", new object[] { TODO_KEY });
        Console.WriteLine(r.ToString());
        if (r == null)
        {
            return new List<TaskItem>();
        }
        try
        {
            return JsonUtil.Deserialize<List<TaskItem>>(r.ToString());
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            return new List<TaskItem>();
        }
    }

    public void AddItem()
    {
        InputButtonText = "Save";
        if (CurrentInput == null || string.IsNullOrWhiteSpace(CurrentInput))
        {
            return;
        }
        try
        {
            // Editing existing task
            if (CurrentItem != null)
            {
                CurrentItem.FromLine(CurrentInput);
            }
            // New task
            else
            {
                var t = new TaskItem();
                t.FromLine(CurrentInput);
                t.Creation = DateTime.Now;
                TodoItems.Add(t);
            }
            CurrentInput = null;
            CurrentItem = null;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
        SaveItemsInLocalStorage();
    }

    public void Complete(TaskItem item)
    {
        item.Complete();
        SaveItemsInLocalStorage();
    }

    public void Edit(TaskItem item)
    {
        CurrentItem = item;
        CurrentInput = CurrentItem.TodoLine();
        InputButtonText = "Update";
    }

    public void Delete(TaskItem item)
    {
        try
        {
            if (CurrentItem == item)
            {
                CurrentItem = null;
                CurrentInput = null;
            }
            TodoItems.Remove(item);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
        SaveItemsInLocalStorage();
    }

    public void ClearInput()
    {
        CurrentInput = null;
        CurrentItem = null;
        InputButtonText = "Save";
    }

    public void Import(object data)
    {
        Console.WriteLine(data);
    }

    public void Export()
    {
        if (TodoItems == null || TodoItems.Count < 1)
        {
            return;
        }
        var output = new List<string>();
        foreach (var item in TodoItems)
        {
            var l = item.TodoLine();
            if (!string.IsNullOrWhiteSpace(l))
            {
                output.Add(l + "\n");
            }
        }
        if (output.Count < 1)
        {
            return;
        }
        RegisteredFunction.Invoke<bool>("saveToFile", new object[] { output });
    }
}
