@page "/"
@using Microsoft.JSInterop;
@using System.IO;
@using Models;

<div class="row section-row">
    <div class="col">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">Do</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <label class="nav-link btn" style="margin-bottom: 0px;" id="import-button">Import<input type="file" style="display: none;"></label>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn" onclick="@Export">Export</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn" data-toggle="modal" data-target="#helpModal">Help</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="row section-row">
    <div class="col">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" id="taskTextArea" placeholder="Take over the world" bind="@CurrentInput" />
            <div class="input-group-append">
                <button onclick="@ClearInput" class="btn btn-outline-secondary">
                    <i class="fas fa-times"></i>
                </button>
                <button id="addItemButton" onclick="@AddItem" class="btn btn-outline-primary">@InputButtonText</button>
            </div>
        </div>
    </div>
</div>


@if (TodoItems != null && TodoItems.Any(x => !x.Completed))
{
    <div class="row section-row">
        <div class="col">
            @foreach (var itemsForProject in TodoItems.Where(x => !x.Completed).OrderBy(x => x.Creation).GroupBy(x => x.Project.FirstOrDefault()))
            {
                <div class="project-group">
                    @if (!string.IsNullOrWhiteSpace(itemsForProject.Key))
                    {
                        <h2>@itemsForProject.Key</h2>
                    }
                    <div class="list-group">
                        @foreach (var item in itemsForProject)
                        {
                            <div class="list-group-item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-auto my-auto">
                                            <button class="btn btn-outline-success" onclick="@(() => { Complete(item); })">
                                                <i class="fas fa-check"></i>
                                            </button>
                                        </div>

                                        <div class="col">
                                            <h4>
                                                @if (!string.IsNullOrWhiteSpace(item.Priority))
                                                {
                                                    <span class="badge badge-primary">@item.Priority</span>
                                                }
                                                @item.Body
                                            </h4>
                                            <p class="task-meta">
                                                @item.Creation?.ToString("yyyy-MM-dd")
                                                @if (item.Context != null && item.Context.Count > 0)
                                                {
                                                    foreach (var context in item.Context)
                                                    {
                                                        <span class="badge badge-secondary">@context</span>
                                                    }
                                                }
                                            </p>
                                        </div>

                                        <div class="col-md-auto my-auto">
                                            <button class="btn btn-outline-secondary" onclick="@(() => { Edit(item); })">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button class="btn btn-outline-danger" onclick="@(() => { Delete(item); })">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}

@if (TodoItems != null && TodoItems.Any(x => x.Completed))
{
    <div class="row section-row">
        <div class="col">
            <button class="btn btn-outline-secondary btn-block" type="button" data-toggle="collapse" data-target="#collapseCompleted" aria-expanded="false" aria-controls="collapseCompleted">
                Completed tasks
            </button>
        </div>
    </div>
    <div class="row section-row">
        <div class="col">
            <div class="list-group collapse" id="collapseCompleted">
                @foreach (var item in TodoItems.Where(x => x.Completed).OrderByDescending(x => x.Completion))
                {
                    <div class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <h4>
                                        @if (!string.IsNullOrWhiteSpace(item.Priority))
                                        {
                                            <span class="badge badge-primary">@item.Priority</span>
                                        }
                                        @item.Body
                                    </h4>
                                    <p class="task-meta">
                                        @item.Creation?.ToString("yyyy-MM-dd")
                                        @item.Completion?.ToString("yyyy-MM-dd")
                                        @if (item.Context != null && item.Context.Count > 0)
                                        {
                                            foreach (var context in item.Context)
                                            {
                                                <span class="badge badge-secondary">@context</span>
                                            }
                                        }
                                    </p>
                                </div>

                                <div class="col-md-auto my-auto">
                                    <button class="btn btn-outline-secondary" onclick="@(() => { Edit(item); })">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button class="btn btn-outline-danger" onclick="@(() => { Delete(item); })">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

<div class="row section-row">
    <div class="col">
        <p class="text-center"><small>v0.2.0</small></p>
    </div>
</div>

<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">todo.txt format rules</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="img/todo_format.svg" class="img-fluid" alt="todo.txt format">
                <p>For more information on the todo.txt standard see <a href="https://github.com/todotxt/todo.txt">here</a>.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@functions {
public static List<TaskItem> TodoItems;

public string CurrentInput { get; set; } = null;

public TaskItem CurrentItem { get; set; } = null;

public string InputButtonText { get; private set; } = "Save";

private const string TODO_KEY = "do";

protected override async Task OnInitAsync()
{
    TodoItems = await GetTasksFromLocalStorage();

    await JSRuntime.Current.InvokeAsync<bool>("addEventListeners");
}

private static async Task SaveItemsInLocalStorage()
{
    if (TodoItems != null)
    {
        var s = Json.Serialize(TodoItems);
        await JSRuntime.Current.InvokeAsync<bool>("storeInLocal", new object[] { TODO_KEY, s });
    }
}

private async Task<List<TaskItem>> GetTasksFromLocalStorage()
{
    var r = await JSRuntime.Current.InvokeAsync<object>("getFromLocal", new object[] { TODO_KEY });
    if (r == null)
    {
        return new List<TaskItem>();
    }
    try
    {
        return Json.Deserialize<List<TaskItem>>(r.ToString());
    }
    catch (Exception ex)
    {
        Console.WriteLine(ex);
        return new List<TaskItem>();
    }
}

public async void AddItem()
{
    InputButtonText = "Save";
    if (CurrentInput == null || string.IsNullOrWhiteSpace(CurrentInput))
    {
        return;
    }
    try
    {
        // Editing existing task
        if (CurrentItem != null)
        {
            CurrentItem.FromLine(CurrentInput);
        }
        // New task
        else
        {
            var t = new TaskItem();
            t.FromLine(CurrentInput);
            t.Creation = DateTime.Now;
            TodoItems.Add(t);
        }
        CurrentInput = null;
        CurrentItem = null;
    }
    catch (Exception ex)
    {
        Console.WriteLine(ex);
    }
    await SaveItemsInLocalStorage();
}

public async void Complete(TaskItem item)
{
    item.Complete();
    await SaveItemsInLocalStorage();
}

public async void Edit(TaskItem item)
{
    CurrentItem = item;
    CurrentInput = CurrentItem.TodoLine();
    InputButtonText = "Update";
    await JSRuntime.Current.InvokeAsync<bool>("focusOnInputField");
}

public async void Delete(TaskItem item)
{
    try
    {
        if (CurrentItem == item)
        {
            CurrentItem = null;
            CurrentInput = null;
        }
        TodoItems.Remove(item);
    }
    catch (Exception ex)
    {
        Console.WriteLine(ex);
    }
    await SaveItemsInLocalStorage();
}

public void ClearInput()
{
    CurrentInput = null;
    CurrentItem = null;
    InputButtonText = "Save";
}

[JSInvokable]
public static async void Import(string fileData)
{
    if (string.IsNullOrWhiteSpace(fileData))
    {
        return;
    }

    var items = new List<TaskItem>();
    using (StringReader reader = new StringReader(fileData))
    {
        string line;
        while (!string.IsNullOrWhiteSpace((line = reader.ReadLine())))
        {
            try
            {
                var i = TodoTxt.Parse(line);
                if (i != null)
                {
                    items.Add(i);
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex);
            }
        }
    }
    if (items.Count > 0)
    {
        TodoItems = items;
        await SaveItemsInLocalStorage();
        await JSRuntime.Current.InvokeAsync<bool>("reload");
    }
}

public async void Export()
{
    if (TodoItems == null || TodoItems.Count < 1)
    {
        return;
    }

    var output = new List<string>();
    foreach (var item in TodoItems.OrderBy(x => x.Creation))
    {
        var l = item.TodoLine();
        if (!string.IsNullOrWhiteSpace(l))
        {
            output.Add(l + "\n");
        }
    }
    if (output.Count < 1)
    {
        return;
    }
    await JSRuntime.Current.InvokeAsync<bool>("saveToFile", new object[] { output });
}
}
